.empDash {
    margin-left: 10%;
    margin-right: 10%;
}

.subSection {
    width: 33%;
    float: left;
}

.ellipse {
    background-color: #d9d9d9;
    border-radius: 142px/90.5px;
    height: 181px;
    left: 59px;
    position: absolute;
    width: 284px;
  }

.basicInfo {
    border: 1px solid black;
    height: 9vw;
}

.skillList {
    border: 1px solid black;
}

.skillList th {
    border: 1px solid black;
}

.skillList td {
    width: 5%;
    text-align: center;
}
 
